footer p {
    color: #FFFFFF;
    text-align: center;
}

.linha-footer {
    display: block;     
    margin: 40px auto;
    height: 1px;
    width: 90%;
}

@media (max-width: 768px) {
    .linha-footer {
      width: 70%;
      margin: 10px auto;
    }
  
    footer p {
      font-size: 14px;
      padding: 10px;
    }
  }
  