nav {
    background-color: #40153D;
    color: #FFFFFF;
    padding: 40px 94px 40px 40px;
    display: flex;
    justify-content: right; 

}

/*botões*/
#btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 24px;
    background-color: #40153D;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;

}

#btn2-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 26px;
    background: linear-gradient(to right,#343045, #7C106AF2);
    color: #FFFFFF;
    border:none;
    cursor: pointer;
    font-size: 19px;
    border-radius: 40px;
}

nav ul{ 
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    top: 94px;
}

nav ul li {
    margin: 15px;   
    font-size: 12px; 
    line-height: 14.63px;
}

nav ul li:last-of-type {
    margin-right: 90px; /* Espaçamento maior após o último li antes dos botões */
}

nav ul button {
    margin-left: 25px;
    height: 20px;
    line-height: 19.5px;
    top: 92px;
}

